project:
  type: website

website:
  title: "Alex Rike's Personal Website"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: about.qmd
        text: Information

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true



