project:
  type: website
  resources:
    - resume_alexander_rike.pdf

website:
  title: "Alex Rike"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: projects.qmd
        text: Projects
      - href: courses.qmd
        text: Courses

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true
    
execute:
  freeze: auto



